@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --toastify-color-light: #fff;
  --toastify-color-dark: #121212;
  --toastify-color-info: #3498db;
  --toastify-color-success: #d9e9f3 !important;
  --toastify-color-warning: #f1c40f;
  --toastify-color-error: #e74c3c;
  --toastify-color-transparent: rgba(255, 255, 255, 0.7);

  --toastify-icon-color-info: var(--toastify-color-info);
  --toastify-icon-color-success: var(--toastify-color-success);
  --toastify-icon-color-warning: var(--toastify-color-warning);
  --toastify-icon-color-error: var(--toastify-color-error);

  --toastify-toast-width: 320px;
  --toastify-toast-background: #fff;
  --toastify-toast-min-height: 64px;
  --toastify-toast-max-height: 800px;
  --toastify-font-family: sans-serif;
  --toastify-z-index: 9999;

  --toastify-text-color-light: #757575;
  --toastify-text-color-dark: #fff;

  --toastify-text-color-info: #fff;
  --toastify-text-color-success: #fff;
  --toastify-text-color-warning: #fff;
  --toastify-text-color-error: #fff;

  --toastify-spinner-color: #616161;
  --toastify-spinner-color-empty-area: #e0e0e0;

  --toastify-color-progress-light: linear-gradient(
    to right,
    #4cd964,
    #5ac8fa,
    #007aff,
    #34aadc,
    #5856d6,
    #ff2d55
  );
  --toastify-color-progress-dark: #bb86fc;
  --toastify-color-progress-info: var(--toastify-color-info);
  --toastify-color-progress-success: var(--toastify-color-success);
  --toastify-color-progress-warning: var(--toastify-color-warning);
  --toastify-color-progress-error: var(--toastify-color-error);
}


body ,html {
  position: relative;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  width: 100%;
}

*::-webkit-scrollbar {
  width: 7px;
  /* Width of the scrollbar */
}

*::-webkit-scrollbar-track {
  background: black
}

*::-webkit-scrollbar-thumb {
  background: slategray;
  border-radius: 8px;
  /* Rounded corners for the thumb */
  transition: all 0.2s ease-in-out;
  /* Smooth transitions for background and transform */
}
/* Customize the scrollbar thumb on hover */
*::-webkit-scrollbar-thumb:hover {
  transform: scale(1.05);
  /* Scale the thumb slightly on hover */
}

.abs-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.image-hover {
  transform: scale(1) translate(var(--transition-x, 0), var(--transition-y, 0));
  transition: transform 0.3s ease;
}

.image-hover:hover {
  transform: scale(1.16) translate(var(--transition-x, 0), var(--transition-y, 0));
}

.wallet-adapter-modal-container * {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif,;
  background: #010003 !important;
  background-color: #010003 !important;
  color: #d9ddcd !important;
}


.wallet-adapter-modal-container {
  border-radius: 20% 20% 20% 20% !important;
}

.wallet-adapter-modal-button-close > svg{
  border-radius: 50%;
  opacity: 100;
}

.wallet-adapter-modal-container>div>ul>li>button:hover {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif,;
  background: #010003 !important;
  background-color: #010003 !important;
  color: #d9ddcd !important;
}

.wallet-adapter-modal-container>div>ul>li>button:hover span {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif,;
  background: #010003 !important;
  background-color: #010003 !important;
  color: #d9ddcd !important;
}

.wallet-adapter-modal-container>div>ul>div>li>button:hover {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif,;
  background: #010003 !important;
  background-color: #010003 !important;
  color: #d9ddcd !important;
}

.wallet-adapter-modal-container>div .wallet-adapter-modal-button-close {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif,;
  background: #010003 !important;
  background-color: #010003 !important;
  color: #d9ddcd !important;
}

.toast-message{
  background: rgba(0, 0, 0, 0.6) !important;
  color: #d9ddcd !important;
  font-family: 'Orbitron', sans-serif;
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  align-content: flex-start;
  font-size: 15px !important;
}

.toast-progress{
  background: slategrey !important;
}


